body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F1EFE8;
  color: #042C53;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.nav a {
  text-decoration: none;
  color: #042C53;
  margin-left: 20px;
}

/* HERO */
.hero {
  margin-top: 80px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  margin-top: 20px;
  color: #555;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 30px;
  background: #378ADD;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
}

/* CARDS */
.grid {
  display: grid;
  gap: 20px;
  margin-top: 60px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #eee;
}

/* FOOTER */
.footer {
  text-align: center;
  margin-top: 100px;
  color: #777;
}
